<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.Tasks" android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application android:label="@string/app_name" android:icon="@drawable/logo" android:theme="@style/CustomTheme">

        <activity android:name=".tasks.SplashActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".tasks.GroupMainActivity"/>

        <activity android:name=".tasks.Adding.AddingTask"/>

        <activity android:name=".tasks.Adding.AddingGroup"/>

        <activity android:name=".tasks.Editing.EditingGroup"/>

        <activity android:name=".tasks.Editing.EditingTask"/>

        <activity android:name=".tasks.TaskActivity"/>

        <service android:name=".tasks.Background.NotificationBroadCast"/>

        <!--declare app widget-->
        <receiver android:name=".tasks.Widget.TasksWidgets" android:label="Tasks">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_layout" />
        </receiver>
        <service android:name=".tasks.Widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>
</manifest>

<!-- REFERENCES 
	http://developer.android.com/design/downloads/index.html 
	https://www.iconfinder.com/icons/87926/tasks_icon
	http://code.google.com/p/google-api-java-client/
</!-->
